header {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    height: 100px;
    margin-top: 35px;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
main {
    font-family: "Space Mono", monospace;
    height: 450px;
   
}
h2 {
    font-size: 39px;
    color: #333333;
    line-height: 3;
    font-weight: bolder;
   
}
.two {
    padding: 121px;
    margin-right: 20px;
}
p {
    font-size: 23px;
    text-transform: capitalize;
    line-height: 1.5;
    color: #333333;
}
img {
    width: 500px;
    float: right;
}
footer {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 100px;
    color: black;
}

button.clickk {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border: solid #333333    ;
    cursor: pointer;
    border-radius: 40px;
}

button.clickk a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

button.clickk:hover {
    background-color: #000000;
}

button.clickk:hover a {
    color: #ffffff;
}


.clickk{
    border-radius: 40px;
}













.footer-social-links .social-link {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    margin-right: 16px;
    transition: all 0.3s ease-in-out;
}

.footer-social-links .social-link:last-child {
    margin-right: 0;
}

.footer-social-links .social-link:hover {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}
